.genStatCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgba(var(--pink), 0.6);
  padding-bottom: 32px;
  gap: 32px;
}

.genStatCard div{
  font-size: 2vw;
  margin: 0 1vw;
}

.genStatCard .number {
  font-size: 5vw;
}

.genStatCard .emphasized {
  color: rgba(var(--pink), 0.9);
  margin: auto;
}
