.genStatCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genStatTitle {
    font-size: 50pt;
    display: flex;
}

.genStatCardInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.genStatCardInner div{
    font-size: larger;

}
