.genStatCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.genStatTitle {
  margin-top: 3vw;
  font-size: 7vw;
  line-height: 5vw;
  display: flex;
}

.genStatCardInner {
  margin-top: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.genStatCardInner div{
  font-size: 2vw;
  margin: auto;
}

.genStatCardInner .number {
  font-size: 5vw;
  margin: auto;
}
