:root {
  --panelCard-alpha: 0.05
}

.panelCard {
  color: white;
}

.panelCard.blue {
  background-color: rgba(var(--blue), var(--panelCard-alpha));
}

.panelCard.purple {
  background-color: rgba(var(--purple), var(--panelCard-alpha));
}

.panelCard.pink {
  background-color: rgba(var(--pink), var(--panelCard-alpha));
}
