.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App .container {
  width: 70vw;
}

h1 {
  justify-content: center;
  font-size: 72px;
  font-weight: 300;
  background: linear-gradient(83.84deg, rgb(var(--blue)) -6.87%, rgb(var(--purple)) 26.54%, rgb(var(--pink)) 58.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 .bolded {
  font-weight: 500;
}

h3 {
  font-size: 18px;
}

button {
  margin-top: 1.5vw;
  background: none;
  border: none;
  color: rgba(250, 250, 255, 0.7);
  font-size: 18px;
}
